<html>
	<head>
		<title><%= locals.title %></title>
		<link
			href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
			rel="stylesheet"
			integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
			crossorigin="anonymous"
		/>
        <style>
            body {
                background-color: bisque;
            }
        </style>
	</head>
	<body>
		<div class="container">
			<h1 style="text-align: center">To-Do List</h1>
			<label for="DESCRIPTION" class="form-label">DESCRIPTION</label>
			<form action="/add-task" method="POST">
				<input
					class="form-control form-control-lg"
					type="text"
					name="name"
					placeholder="What do you need to do?"
					aria-label=".form-control-lg example"
					required
				/>
				<br />
				<div class="d-flex flex-row mb-1">
					<div class="p-1 flex-fill">
						<div>
							<label for="CATEGORY" class="form-label">CATEGORY</label>
						</div>
						<select
							class="form-select"
							name="category"
							aria-label="Default select example"
							required
						>
							<option selected>Choose a category</option>
							<option value="Personal">Personal</option>
							<option value="Work">Work</option>
							<option value="College">College</option>
							<option value="Cleaning">Cleaning</option>
							<option value="Other">Other</option>
						</select>
					</div>
					<div class="p-1 flex-fill">
						<div>
							<label for="due date" class="form-label">DUE DATE</label>
						</div>
						<input
							type="date"
							class="form-select"
							name="date"
							id="due date"
							name="due date"
							required
						/>
					</div>
				</div>
				<br />
				<div style="text-align: center; margin-left: 2.25%">
					<button
						type="submit"
						class="btn btn-primary btn-lg"
						style="background-color: black"
					>
						ADD TASK
					</button>
					<button
                    formaction="/remove-task/" type="submit"
						class="btn btn-secondary btn-lg"
						style="background-color: red"
					>
                    DELETE TASK
					</button>
				</div>
			</form>
			<br />
			<div class="list-group">
				<ul class="list-group">
					<% for(let i of task_list) { %>
					<li class="list-group-item d-flex flex-column">
						<div class="d-flex flex-row">
							<div style="width: 2%; margin-top: 0.5%">
								<input
									class="p1 form-check-input me-1"
									type="checkbox"
									name = "checkbox" 
                                    value="<%=i._id%>"
									id="firstCheckbox"
                                    onChange="this.form.submit()"
								/>
							</div>

							<div
								class="d-flex flex-row justify-content-between"
								style="width: 98%"
							>
								<div class="p-1"><%= i.name %></div>
								<div class="p-1">
									<% if(i.category == "Personal") { %>
									<button
										type="button"
										class="btn btn-secondary btn-sm"
										style="background-color: blueviolet; margin-right: 10%"
									>
										<%= i.category %>
									</button>
									<% } else if(i.category == "Work") { %>
									<button
										type="button"
										class="btn btn-secondary btn-sm"
										style="background-color: green; margin-right: 10%"
									>
										<%= i.category %>
									</button>
									<% } else if(i.category == "College") { %>
									<button
										type="button"
										class="btn btn-secondary btn-sm"
										style="background-color: darkorange; margin-right: 10%"
									>
										<%= i.category %>
									</button>
									<% } else if(i.category == "Cleaning") { %>
									<button
										type="button"
										class="btn btn-secondary btn-sm"
										style="background-color: brown; margin-right: 10%"
									>
										<%= i.category %>
									</button>
									<% } else if(i.category == "Other") { %>
									<button
										type="button"
										class="btn btn-secondary btn-sm"
										style="background-color: palevioletred; margin-right: 10%"
									>
										<%= i.category %>
									</button>
									<% } %>
								</div>
							</div>
						</div>
						<div class="p-1" style="font-size: 80%; margin-left: 4%">
							<%= i.date %>
						</div>
					</li>
					<% } %>
                </ul>
			</div>    
		</div>
	</body>
</html>
